body {
	margin: 20% 40%; 
	background: rgba(69,153,178,1);
	color: #fff;
}

div {
	position: relative;
	margin-left: 8px;
	margin-right: 8px;
	text-align: center;
	width: 84px;
	height: 84px;
	box-shadow: 0 0 20px rgba(0,0,0,.4);
	padding: 15px;
	display: inline;
	font-size: 25px;
	font-family: "Courier New";

}
header h1 {
	font-size: 30px;
	padding-bottom: 30px;
	position: relative;
	float: left;
	width: 100%;
	font-family: "Courier New"; 
	letter-spacing: 2px;
}